<!-- 328/diner/views/home-page.html -->

<include href="views/header.html"></include>

<body>
    <div class="container">
        <h1>Welcome to the GRC Diner</h1>
        <h2>Serving the best burgers in Auburn</h2>

        <img src="images/diner.jpg" alt="Diner picture">

        <h3>View Menus</h3>
        <a href="menus/breakfast">Breakfast</a><br>
        <a href="menus/lunch">Lunch</a><br>
        <a href="menus/dinner">Dinner</a><br>

        <a type="button" class="btn btn-primary"
           href="order1">Place an Order</a>
        <br><br>

    </div>
</body>
</html>