<include href="views/header.html" />
<body>
<div class="container">
    <h1>The Diner:  Order Form</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get food -->
        <div class="form-group">
            <label for="food" class="col-sm-4 control-label">What food would you like to order?</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="food" id="food" value="">

                <!-- Display an error if there is one -->
            </div>
        </div>
        <br>

        <!-- get meal -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Select a meal</label>
            <div class="col-sm-4">
                <p>You chose </p>

                <repeat group="{{ @meals }}" value="{{ @meal }}">
                    <label>
                        <input type="radio"
                                  name="meal"
                                  id="{{ @meal }}"
                                  value="{{ @meal }}"
                        > {{ ucwords(@meal) }}
                        </input>
                    </label><br>
                </repeat>

                <!-- Display an error if there is one -->

            </div>
        </div>

        <div class="col-xs-1 ">
            <button type="submit">Next >></button>
        </div>
    </form>
</div>
</body>
</html>