<include href="views/header.html" />
<body>
<div class="container">
    <h1>The Diner:  Order Form Part 2</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get condiments -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select condiments</label>
            <div class="col-sm-4">
                <repeat group="{{ @condiments }}" value="{{ @condiment }}">
                    <label><input type="checkbox"
                                  name="conds[]"
                                  value="{{ @condiment }}"
                    > {{ ucwords(@condiment) }}</label><br>
                </repeat>
                <!-- Display an error if there is one -->
            </div>
        </div>

        <div class="col-xs-1 ">
            <button type="submit">Place Order</button>
        </div>
    </form>
</div>
</body>
</html>